<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>carsWebApp</display-name>
  <context-param>
    <param-name>dbUrl</param-name>
    <param-value>jdbc:postgresql://200.19.149.225:5432/DB-PI</param-value>
  </context-param>
  <context-param>
    <param-name>driverClass</param-name>
    <param-value>org.postgresql.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>webpass</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>webuser</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.projeto.modelo.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertUser</display-name>
    <servlet-name>InsertUser</servlet-name>
    <servlet-class>com.projeto.modelo.servlets.InsertUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertUser</servlet-name>
    <url-pattern>/InsertUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.projeto.modelo.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PagamentoServlet</display-name>
    <servlet-name>PagamentoServlet</servlet-name>
    <servlet-class>com.projeto.modelo.servlets.PagamentoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PagamentoServlet</servlet-name>
    <url-pattern>/pagamento</url-pattern>
  </servlet-mapping>
</web-app>